<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    </head>
    <body>
        <center>
            <font face="Helvetica-Light, Arial">
        <h1>Bem-vindo ao sistema de matriculas</h1>
                <br>
                <a href="curso">Listar cursos de departamentos</a><br>
                <a href="disciplina">Listar disciplinas</a><br>
                <a href="aluno">Listar alunos</a><br>
              <p></p>

                </font>
        </center>
    </body>
</html>